/* Available fonts:
    font-family: 'Poiret One', cursive;
    font-family: 'Kumar One', cursive;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Alegreya SC', serif;
    font-family: 'Limelight', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
*/

html {
    /* Taken from bootstrap sticky footer example */
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 40px;
    font-family: 'Poiret One', cursive;
}

nav a {
    font-size: 18px;
}

.sub-nav {
    border-bottom: 1px solid #4e5d6c;
}

.sub-nav .navbar-header a {
    font-size: 32px;
    color: #ebebeb;;
}

#search-container label {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

#search-container span {
    width: 4%;
    font-size: 1.7em;
}

#search-container input {
    display: inline-block;
    width: 97%;
    box-sizing: border-box;
    height: 40px;
    border: none;
    padding: 0 10px;
    background: none;
    color: rgba(188,188,188,0.7);
    border-bottom: 1px solid rgba(188,188,188,0.7);
    box-shadow: none;
}

#search-container input:focus {
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.6);
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 20px;
}

.is-flex a {
    margin-top: auto;
}

.jumbotron {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 5px;
}

a:hover, a:visited, a:focus, a:active {
    text-decoration: none;
}

.article h4 {
    font-weight: bold;
    color: #4e5d6c;
    /*font-family: 'Kumar One', serif;*/
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #222222;
    border-color: #121212;
    color: #fff;
}

footer p {
    margin: 14.5px 0;
}

@media (min-width: 992px) {
    .row.is-flex > [class*='col-'] {
        max-width: 33.333333%;
    }
}